* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: white;
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  -webkit-animation: moveGradient 4s alternate infinite;
          animation: moveGradient 4s alternate infinite;
}

body::after {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(0 0, 80% 0, 60% 100%, 0 100%);
          clip-path: polygon(0 0, 80% 0, 60% 100%, 0 100%);
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #171e25;
}

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "entete entete entete" "principal annonce-2 annonce-2" "pied-page pied-page pied-page";
}

.entete {
  height: 10rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: entete;
}

.principal {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: principal;
}

.annonce-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: annonce-2;
}

.pied-page {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pied-page;
}

.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.entete ul {
  display: inherit;
  list-style: none;
  margin-left: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entete ul li {
  height: 20%;
  margin: 0 2rem 0;
  font-size: 1.1rem;
}

.logo {
  margin-left: 1%;
  width: 20%;
}

.logo img {
  width: 100%;
}

.annonce-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  border: 2px solid black;
  border: 8px solid #14eed1;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.annonce-2 ul {
  overflow: hidden;
}

.annonce-2 ul li {
  font-size: 1.2rem;
  list-style: none;
  margin: 2rem;
}

.principal {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.principal div {
  text-align: center;
  font-size: 2rem;
  margin-top: 5%;
}

.pied-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pied-page div {
  margin-bottom: 2%;
  margin-left: 1%;
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    border: teal solid 1px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "entete entete entete" "principal principal principal" "annonce-2 annonce-2 annonce-2" "pied-page pied-page pied-page";
  }
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.annonce-2 ul li {
  -webkit-animation: animEntete 1s both;
          animation: animEntete 1s both;
}

@-webkit-keyframes animEntete {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animEntete {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.annonce-2 li:nth-last-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.annonce-2 li:nth-last-of-type(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.annonce-2 li:nth-last-of-type(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.annonce-2 li:nth-last-of-type(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.annonce-2 li:nth-last-of-type(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.principal div {
  -webkit-animation: hoverRabais 4s both infinite;
          animation: hoverRabais 4s both infinite;
}

@-webkit-keyframes hoverRabais {
  0% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes hoverRabais {
  0% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
/*# sourceMappingURL=style.css.map */